<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="hotelproject.mappers.HotelMapper">

    <insert id="insertHotel">
        INSERT INTO hotel (name, location, rating, price)
        VALUES (#{name}, #{location}, #{rating}, #{price});
    </insert>

    <select id="getHotelById" resultType="hotelproject.repositories.vo.HotelVo">
        SELECT * FROM hotel WHERE id = #{id};
    </select>
    
  <select id="getAllHotels" resultType="hotelproject.repositories.vo.HotelVo">
    SELECT 
        no AS hotelNo, 
        name, 
        location, 
        max_room AS availableRooms, 
        rating
    FROM hotel;
</select>
	
    <update id="updateHotelRating">
        UPDATE hotel SET rating = #{rating} WHERE id = #{id};
    </update>

</mapper>
