<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="hotelproject.mappers.PointMapper">

    <!-- 포인트 충전 내역 기록 -->
    <insert id="insertPointHistory" parameterType="map">
        INSERT INTO point_history (user_id, amount, type, created_at)
        VALUES (#{userId}, #{amount}, #{type}, NOW());
    </insert>

    <!-- 포인트 사용 내역 기록 -->
    <insert id="insertPointUsageHistory" parameterType="map">
        INSERT INTO point_history (user_id, amount, type, created_at)
        VALUES (#{userId}, #{amount}, #{type}, NOW());
    </insert>

    <!-- 특정 유저의 포인트 업데이트 -->
    <update id="updateUserPoints" parameterType="map">
        UPDATE users
        SET points = #{points}
        WHERE user_id = #{userId};
    </update>

    <!-- 포인트 내역 조회 -->
    <select id="getPointHistory" resultType="hotelproject.repositories.vo.PointHistoryVo">
    SELECT user_id, amount, type, created_at
    FROM points
    WHERE user_id = #{userId}
    ORDER BY created_at DESC
</select>


</mapper>
