<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="hotelproject.mappers.ReservationMapper">

     <insert id="insertReservation">
        INSERT INTO reservations (user_id, hotel_id, room_id, room_name, check_in_date, check_out_date, adult_count, child_count, total_price, reservation_status)
        VALUES (#{userId}, #{hotelId}, #{roomId}, #{roomName}, #{checkInDate}, #{checkOutDate}, #{adultCount}, #{childCount}, #{totalPrice}, '예약 중')
    </insert>

     <select id="getReservationsByUserId" resultType="hotelproject.repositories.vo.ReservationVo">
        SELECT * FROM reservations WHERE user_id = #{userId}
    </select>

   <!--  <update id="updateReservationStatus">
        UPDATE reservations SET status = #{status} WHERE id = #{id};
    </update> -->

</mapper>
