<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hotelproject.mappers.UserMapper">

    <!-- 이메일 중복 체크 -->
    <select id="existsByEmail" resultType="int">
        SELECT COUNT(*) FROM users WHERE email = #{email}
    </select>
    
    <!-- 닉네임 중복 체크 -->
    <select id="existsByNickname" resultType="int">
        SELECT COUNT(*) FROM users WHERE nickname = #{nickname}
    </select>
    
    <!-- 주민번호 중복 체크 -->
    <select id="existsBySsn" resultType="int">
        SELECT COUNT(*) FROM users WHERE ssn = #{ssn}
    </select>
    
    <!-- 전화번호 중복 체크 -->
    <select id="existsByPhone" resultType="int">
        SELECT COUNT(*) FROM users WHERE phone = #{phone}
    </select>
    
    <!-- 회원 정보 저장 -->
	<insert id="saveUser">
    INSERT INTO users (email, password, nickname, name, ssn, phone, grade, point)
    VALUES (#{email}, #{password}, #{nickname}, #{name}, #{ssn}, #{phone}, #{grade}, #{point});
	</insert>
    
    <!-- 이메일 기준으로 사용자 정보 조회 -->
    <select id="findByEmail" resultType="hotelproject.repositories.vo.UserVo">
        SELECT * FROM users WHERE email = #{email}
    </select>
    
    <!--포인트 기능추가 -->
    <!-- 회원의 포인트 사용내역조회 -->
	<select id="getUserPointHistory" resulType="int">
	SELECT point FROM users WHERE no =#{userNo}
	</select>
	 
      <!-- 포인트 적립 -->
    <update id="earnPoints">
        UPDATE users SET point = point + #{amount} WHERE no = #{userNo}
    </update>

    <!-- 포인트 사용 -->
    <update id="usePoints">
        UPDATE users SET point = point - #{amount} WHERE no = #{userNo} AND point >= #{amount}
    </update>
    
</mapper>