<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="hotelproject.mappers.UserMapper">

    <insert id="insertUser">
        INSERT INTO users (id, password, name, nickname, phone, address, marketing_opt_in)
        VALUES (#{id}, #{password}, #{name}, #{nickname}, #{phone}, #{address}, #{marketingOptIn})
    </insert>

    <select id="getUserById" resultType="hotelproject.repositories.vo.UserVo">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <update id="updateUserPoints">
        UPDATE users SET point = point + #{points} WHERE id = #{id}
    </update>

</mapper>
